# Node dependencies & build output
frontend/node_modules/
frontend/.next/
frontend/out/

# Python Virtualenv & Cache
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
*.pyc

# Database & Environment variables
*.db
*.sqlite
.env
.env.local
